body
{
    font-family: 'Bree Serif', serif;
}

.button_search
{
	
	margin-left: 20px;
}
p
{
	 text-transform: capitalize;
}
.my_crd
{
	margin-top: 20px;
}
.my_column
{
	margin-bottom: 10px;

}
.image_art
{
	width:300px;
	height:300px;
	padding-left: 20px;
	margin-right: auto;
   
}

.art_pad
{
	margin-left: 30px;
}

.logo
{
	height:60px;
	width:60px;
}

.display-4
{
	color:black;

}

.pic_title
{
   
    font-size:60px;
    background: white;
    opacity: 0.8;
}



.sidebar_title
{
   // font-family: 'Carter One', cursive;
}
h2
{
	color: white;
}

.mycard
{
	flex-direction: column;
	}

.fb
{
	background: #3b5998;
	color: white;
}

.tw
{
	background: #85c1e9;
	color: white;
}

.ins
{
	background-color: #ea1828;
	color: white;
}

footer a
{
	font-size:40px;
}

li
{
	list-style-type: none;
}

.footer_text
{
  //  font-family: 'Love Ya Like A Sister', cursive;
}

.mo_text
{
	color: white;
}

.modal-title
{
	color:black;
}

.col
{

}