body
{
    font-family: 'Bree Serif', serif;
}

.button_search
{
	
	margin-left: 20px;
}
p
{
	 text-transform: capitalize;
}

.card_u
{
	width:300px;
}
#con
{
	width:300px;
}

.my_crd
{
	margin-left: 20px; margin-right: 40px;
}
#my_column_grid
{
	margin-bottom: 20px;
}
.image_art
{
	width:100%;
	height:300px;
	
   
}
.col
{
	width:300px;
}

.container
{
	width: 300px;
}

.art_pad
{
	margin-left: 30px;
}

.logo
{
	height:60px;
	width:60px;
}

.display-4
{
	color:black;

}

.pic_title
{
   
    font-size:60px;
    background: white;
    opacity: 0.8;
}


.tab-content
{
	width:800px;
}

h2
{
	color: white;
}

.mycard
{
	flex-direction: column;
	}

.fb
{
	background: #3b5998;
	color: white;
	size:30px;
}

.tw
{
	background: #85c1e9;
	color: white;
}

.ins
{
	background-color: #ea1828;
	color: white;
}

footer a
{
	font-size:40px;
}

li
{
	list-style-type: none;
}

.footer_text
{
  //  font-family: 'Love Ya Like A Sister', cursive;
}

.mo_text
{
	color: white;
}

.modal-title
{
	color:black;
}

<p>To get sweet recipes</p>
    <a href=""></a>